body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 217, 0);
    

}
form h1 {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: orangered;
    font-weight: bold;
    font-size: 30px;

}
form {
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.email {
    display: block;
    margin-top: 10px;
    width: 350px;
    height: 20px;
    transition: 100ms;
    padding: 3px;
    border-radius: 5px;
    border-width: 1px;
    border: none;
    padding-left: 5px;

}
.username {
    padding: 3px;
    display: inline-block;
    height: 20px;
    border-radius: 5px;
    border-width: 1px;
    border: none;
    padding-left: 5px;
    width: 350px;
    transition: 100ms;
    


}

.submit {
    margin-top: 10px;
    width: 359px;
    height: 30px;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 100ms;
    
  


}
.submit:hover{
    opacity: 0.8;
    transform: scale(1.05);

}

.submit:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);

}
.password {
    display: block;
    margin-top: 10px;
    width: 350px;
    height: 20px;
    transition: 100ms;
    padding: 3px;
    border-radius: 5px;
    border-width: 1px;
    border: none;
    padding-left: 5px;
}
.password:hover {
    transform: scale(1.05);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);

}
.username:hover {
    transform: scale(1.05);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.email:hover {
    transform: scale(1.05);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

